matplotlib==3.9.0
matplotlib-inline==0.1.7
bokeh==3.4.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
seaborn==0.13.2
kaggle==1.6.14
pyarrow==16.1.0
black==24.4.2
pylint==3.2.0
pytest==8.2.0
Pyment==0.3.3